.heroContainer {
  height: 100vh;
  width: 100%;
  background-color: #0077b6;
}

.flexCenter {
  height: 100vh;
  display: flex;
  align-items: center;
}

.heroWrapper {
  width: 560px;
  color: #0f0c0c;
}

.heroWrapper h2 {
  font-weight: 800;
  font-size: 64px;
  letter-spacing: 0.125rem;
}

.heroWrapper p {
  margin-bottom: 10px;
  color: #333333;
}

@media (max-width: 768px) {
  .flexCenter {
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .flexCenter {
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
}
