.avatarStyles {
  border-radius: 50%;
  border: none;
  background-color: #808080;
  margin: auto;
}

.cardTestimonialWrapper {
  width: 380px;
  height: 280px;

  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 0px 43px 10px rgba(0, 0, 0, 0.1);
}

.profileStyles {
  display: grid;
  align-items: center;
}
