.studentTestimonialsContainer {
  text-align: center;
}

.cardTestimonialsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.testimonialContentWrapper {
  border-radius: 20px;
  padding: 20px;
}
