.studentTestimonialsContainer {
  text-align: center;
}

.studentTestimonialsContainer h2 {
  font-weight: bold;
  font-size: 32px;
}

.cardTestimonialsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.testimonialContentWrapper {
  padding: 20px;
}

.carousel-control-next,
.carousel-control-prev {
  width: 100% !important;
}
