.linkButton {
  display: inline-block;
  padding: 12px 14px;
  background-color: #fdcf09;
  text-align: center;
  border-radius: 20px;
  line-height: 15px;
  cursor: pointer;
  color: #000 !important;
}
